:root {
  --title-color: #212121;
  --accent-color: #2196f3;
  --primary-text-color: #757575;
  --primary-white-color: #ffffff;
}
body {
  font-family: 'Roboto', sans-serif;
  color: #757575;
  background-color: var(--primary-white-color);
  font-size: 14px;
}
.link {
  text-decoration: none;
}
.link:hover,
.link:focus {
  color: var(--accent-color);
}
.list {
  list-style: none;
}
.item {
  font-family: inherit;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/* ----------------------------------------------header--------------------------------------------------- */
.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  color: #000000;
  text-decoration: none;
}
.header-link {
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}
.header-link.current {
  color: var(--accent-color);
}
.accent {
  color: var(--accent-color);
}
.header-mail,
.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
/*---------------------------------------------- hero------------------------------------------------------ */
.hero {
  background: #2f303a;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}
.hero-button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.86;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background: var(--accent-color);
  cursor: pointer;
}
.description-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
}
/* ----------------------------------------------description-------------------------------------------------*/
.description-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
/* ---------------------------------------------examples----------------------------------------------------*/
.examples-title,
.team-main-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
/* -----------------------------------------------team------------------------------------------------------ */
.team {
  background: #f5f4fa;
}
.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
/*-------------------------------------------------footer--------------------------------------------------- */
.footer {
  background-color: #2f303a;
}
.footer-link {
  color: var(--primary-white-color);
}

.footer-tel,
.footer-mail {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.footer .logo {
  color: var(--primary-white-color);
}
/* ------------------------------------------------portfolio------------------------------------------------*/
.portfolio-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  cursor: pointer;
}
.portfolio-button.current {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}
.portfolio-button:hover,
.portfolio-button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}
.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}
.portfolio-text {
  font-family: inherit;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
